h1
{
	font-family: 'Comforter', cursive;
	font-size: 600%;
	color: rgb(0, 128, 0);
}
body
{
	background-image: url("img/73.jpg");
	background-size: cover;
	border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -8%);
}
p
{
	text-align: justify;
	font-family: 'Comforter', cursive;
	font-size: 150%;
	
}

h2
{
	font-family: 'Comforter', cursive;
	font-size: 260%;
	color: rgb(0, 128, 0);
}
h3
{
	font-family: 'Comforter', cursive;
	font-size: 160%;
	
}
li
{
	font-size: 150%;
}
textarea
{
	font-family: 'Comforter', cursive;
	font-size: 110%;
	color: rgb(0, 128, 0);
}
label
{
	font-family: 'Comforter', cursive;
	font-size: 150%;
}
